<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.LondonX.clash_flt">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <service
            android:name=".service.ClashVpnService"
            android:exported="false"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>
    </application>
</manifest>
