<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.LondonX.clash_flt">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="${applicationId}.permission.RECEIVE_BROADCASTS" />

    <permission
        android:name="${applicationId}.permission.RECEIVE_BROADCASTS"
        android:description="@string/receive_broadcasts_of_clash"
        android:label="@string/receive_clash_broadcasts"
        android:protectionLevel="privileged|signature" />

    <application>
        <service
            android:name=".service.ClashVpnService"
            android:exported="false"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>
    </application>
</manifest>
